body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(18, 176, 182);
    font-weight: bold;
}
h2 {
    color: white;
    font-size: 25pt;
    font-weight: bold;
}
h3 {
    color: rgb(18, 176, 182);
    font-weight: bold;
}
h4 {
    color: rgb(18, 176, 182);
    text-align: center;
    font-weight: bold;
}
p {
    font-size: 14pt;
}
.navbar-brand {
    background-color: rgb(18, 176, 182);
    padding: 5px;
    font-weight: bold;
}
.navbar-nav{
    font-size: 15pt;
}
.box {
    min-height: 50px;
    padding: 2.5pc;
    margin: 1pc;
  }

.white{
    background:white;
}